:root {
    --primary-color: #16302B;
    --secondary-color: #fcffeb;
    --accent1-color: #b2906c;
    --accent2-color: #445174;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 275%;
    color: var(--accent1-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(22, 48, 43, .9);
    padding: .5rem;
}
.worker img {
    width: 30%;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 50%;
    top: 70%;
    transform: translate(45%, -5%);
}
.worker p {
    font-family: bona nova sc;
    font-size: 250%;
    color: var(--secondary-color);
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-75%, 100%);
    background-color: var(--primary-color);
    opacity: .9;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-left: 10px;
}
header {
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 4rem;
    font-weight: 300;
    border-bottom: 1px solid #000;
}
.logo img {
    width: 75%;
    height: auto;
    margin: 1rem;
}   
.references {
	grid-column: span 3;
    grid-column-end: 5;
    height: 1rem;
    font-family: bona nova sc;
    align-items: center;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}
a:visited {
    color: var(--accent1-color);
    text-decoration: none;
}
a:link {
    color: var(--accent1-color);
    text-decoration: none;
}
a:hover {
    color: var(--accent2-color);
    text-decoration: underline;
}
a:active {
    color: var(--accent1-color);
}
body {
    background-color: var(--secondary-color);
    font-family: bona nova sc;
    margin: 0;
    padding: 0;
}
h2 {
    display: flex;
    justify-content: space-around;
    font-family: Georgia, serif;
    color: var(--primary-color);
    font-size: 4rem;
}
body main p {
    font-size: 2rem;
}
.history {
    max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
  
.history h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}
  
.wrapper {
    overflow: auto;
}
  
.wrapper {
    display: grid;
    grid-template-columns: 33% 1fr 1fr;
}
.wrapper img {
    display: block;
    margin: auto;
    width: 100%;
}
.p1 {
    order: -1;
    align-items: center;
    text-align: center;
    margin: auto 10px;
}
.p2 {
    align-items: center;
    text-align: center;
    margin: auto 10px;
}
.adventure h2 {
    margin-bottom: 50px;
    text-decoration: underline;
}
.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center; 
    max-width: 100%;
    margin: auto 5px; 
}
.images figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}
.images img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}
.social {
    grid-column-start: -1;
    margin: auto 50px;
}
.ending {
    display: grid ;
    grid-template-columns: 450px 1fr;  
    border-top: solid 1px black;
    padding-top: 1rem;    
}
.ending p {
    grid-column: span 1 / 3;
}
.wireframe a, .wireframe a:visited, .wireframe a:active {
    color: var(--primary-color);
}
.wireframe a:hover{
    color: var(--accent2-color);
    text-decoration: underline;
}
.wireframe {
    text-align: center;
    margin-top: 1rem;
}
.chead {
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    padding: 10px;
    padding-bottom: 3rem;
    border-bottom: solid 1px var(--primary-color);
    align-items: center;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    padding-left: 50px;
    border-bottom: solid 2px var(--primary-color);
    text-align: center;
    align-items: center;
}
.contact h3 {
    font-size: 2rem;

}
.contact h3, .contact p {
    padding-right: 75px;
    color: var(--primary-color);
}
.contact p {
    text-decoration: underline;
}
.map {
    grid-column-start: 2;
    margin-top: -300px;
    margin-bottom: 25px;
}
.contact1 {
    grid-column: 1 / 2;
}
.happyemployees {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.happyemployees img {
    width: 20rem;
    height: 28rem;
    padding: 25px;
}
figcaption {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
}
.hi {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    color: var(--primary-color);
}
.cform {
    display: grid;
    width: 700px;
    margin: 25px auto 25px;
    padding: 1rem;
    border: 2px solid #333;
    border-radius: 2rem;
    align-items: center;
    text-align: center;
}
.form1 {
    display: flex;
    flex-direction: row;
    width: 400px;
    align-self: flex-start;
    justify-content: center;
    justify-self: center;
    padding-bottom: 25px;
    font-size: 1.1rem;
}
.form2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}
textarea {
    width: 100%;
}
.form3 {
    font-style: italic;
    font-weight: 700;
    font-size: large;

}
button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
button:hover {
    background-color: var(--accent1-color)
}
.indexhero {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 850px;
}
.herop {
    text-align: center;
    color: var(--secondary-color);
    z-index: 1;
    max-width: 90%;
    align-items: center;
    margin: 5px auto;
    padding-bottom: 5rem;
    font-family: bona nova sc;
}
.indexhero img {
    position: absolute;
    width: 100%;
    padding-bottom: 2rem;
    object-fit: cover;
    z-index: 0;
}
.indexhero h1 {
    z-index: 1;
    color: var(--secondary-color);
    font-style: italic;
    border-bottom: none;
    padding-bottom: 6rem;
}
.indexhero a {
    z-index: 1;
    margin: 30px auto;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 200px;
    height: 100px;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
    border-radius: 50px;
    box-shadow: 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.indexhero a:hover {
    background-color: var(--accent1-color);
    text-decoration: none;
}
.indexhero a:active {
    box-shadow: 0 2px black;
    transform: translateY(3px);
}
.iform1 {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-self: flex-start;
    justify-content: center;
    justify-self: center;
    padding-bottom: 25px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: var(--primary-color);
}
.iform2 {
    font-style: italic;
    font-weight: 700;
    font-size: large;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
    color: var(--primary-color);
}
.iform {
    width: 700px;
    align-items: center;
    text-align: center;
    margin: 5px auto;
    border: 2px solid #333;
    color: var(--primary-color);
}
.iform legend {
    font-weight: 700;
    font-size: 1.75rem;
    font-style: italic;
    color: var(--primary-color);
}
.iform button {
    font-style: italic;
    font-size: large;
    width: 175px;
}
.last {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.last img {
    width: 100%;
    height: 75%;
    margin: 20px auto;
}
.last figcaption{
    text-align: center;
    font-size: x-large;
}
.last1 {
    text-align: center;
}
.last1 h3 {
    font-size: xxx-large;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
    color: var(--primary-color);
}
.last1 a {
    margin: 30px auto;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 300px;
    height: 100px;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
    border-radius: 50px;
    box-shadow: 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last1 a:hover {
    background-color: var(--accent1-color);
    text-decoration: none;
}
.trips1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    margin: 5px auto;
}
.trips1 img {
    width: 23rem;
    height: 17rem;
}
.trips1 figure {
    text-align: center;
}
.trips1 figcaption {
    font-weight: 700;
    font-family: bona nova sc;
    color: var(--primary-color);
}
.trips4 {
    margin: 5px auto;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 700px;
    height: 100px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 50px;
    box-shadow: 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.trips4:hover {
    background-color: var(--accent2-color);
    text-decoration: none;
    color: var(--secondary-color);
}
table {
    border-collapse: collapse;
    border: 4px solid var(--primary-color);
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 15px auto;
    width: 70rem;
  }
  caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    font-size: xx-large;
    color: var(--primary-color);
  }
  thead {
    font-size: 1.5rem;
    border-bottom: 4px solid var(--primary-color);
    color: var(--accent1-color);
    background-color: var(--primary-color);
  }
  th, td {
    border: 1px solid rgb(160 160 160);
    padding: 15px 10px;
    font-size: larger;
  }
  tbody {
    color: var(--primary-color);
  }
  td:last-of-type {
    text-align: center;
    font-size: larger;
  }
  .trips3 {
    margin: 5px auto;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 700px;
    height: 100px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 50px;
    box-shadow: 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
  }
  .trips3:hover {
    text-decoration: none;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
  }